
/* Green and Red Ribbon Variants */

.explanation-main {
  margin-bottom: 140px;
}
.guide-title {
  font-weight: bold;
  text-align: center
}

.guide-content {
  margin-left: 10px;
  text-align: center
}

.green-ribbon {
  color: green;
  font-weight: bold;
}

.red-ribbon {
  color: red;
  font-weight: bold;
}

.card-content {
  display: flex;
  align-items: center; /* Centers items vertically */
  justify-content: ledr; /* Centers items horizontally */
  gap: 10px; /* Adds space between the image and text */
  margin-left: 30%;
}

.card-icon {
  max-width: 30px; /* Limit the image width */
  min-width: 50px; /* Limit the image width */
  min-height: 50px; /* Limit the image width */
  height: auto; /* Maintain aspect ratio */
  margin: 8px 0; /* Space around the image */
}

